
.outfit-font> {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.header{
  border-bottom: 1px solid #dedede;
}
.card2{
  padding: 20px 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dedede;
}
.card2 img{
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.card3{
  padding: 13px 16px;
  border-radius: 12px;
  background-color: white;
}
.image-content img{
  width: 24px;
  height: 24px;
}